.course-creator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
    padding: 2.5%;
    background-color: none;
    border-radius: var(--border-radius);
    aspect-ratio: 2 / 1;
    height: 100%;
}