.flashcard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    perspective: 1000px;
}

.flashcard-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.flashcard {
    flex: 1;
    max-width: 500px;
    aspect-ratio: 1 / 1.25;
    background-color: var(--blue-light);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font);
    transition: transform 0.6s;
    color: white;
    user-select: none;
    position: relative;
    transform-style: preserve-3d;
}

.flashcard-front {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font);
    color: white;
    user-select: none;
    overflow: hidden;
    background-color: var(--blue-light);
}

.flashcard.flipped {
    transform: rotateY(180deg) scale(-1, 1);
}

.flashcard.back-card::after {
    content: '';
    position: absolute;
    background-color: var(--blue);
    transform: rotate(4deg);
    top: 0px;
    left: 15px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: var(--border-radius);
}

.flashcard.flipped.back-card::after {
    display: none;
}

.flashcard-content {
    width: 250px;
    overflow-y: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-green.flashcard-btn {
    font-size: var(--heading-font);
}

.button-collection-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 30px
}