.flashcard-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard-full {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.flashcard {
    flex: 1;
    max-width: 500px;
    aspect-ratio: 1 / 1.25;
    background-color: var(--blue-light);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--heading-font);
    color: white;
    user-select: none;

    overflow: hidden;
}

.flashcard-content {
    width: 250px;
    overflow-y: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-green.flashcard-btn {
    font-size: var(--heading-font);
}

.button-collection-row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 30px
}