.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    flex-wrap: wrap;
}

footer {
    width: 80%;
    height: 100%;
    padding: 2.5%;
    padding-bottom: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: var(--blue);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    gap: 20px;
}

@media only screen and (max-width: 770px) {
    footer {
        width: 90%;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }

    .large-only {
        display: none;
    }
}

footer > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-logo {
    width: 100px;
}

.footer-logo-container {
    align-items: center;
    justify-content: center;
}

.footer-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2.5%;
    height: 100%;
}

footer h2 {
    font-family: var(--font-family-main);
    text-align: center;
}

footer li {
    font-family: var(--font-family-main);
    list-style: none;
    text-align: center;
}