.clause-wrapper {
    position: relative;
    display: inline-block;
}

.help-tip {
    display: none;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 100%;
    right: 0;
    background-color: var(--level-orange);
    color: var(--grey-dark);
    padding: 8px;
    font-size: 16px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 100%;
}

.clause-wrapper:hover .help-tip {
    display: block;
}

.sentence-check {
    appearance: none;
    -webkit-appearance: none;

    width: 25px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    border: 1px solid black;
    background-color: var(--red);
}

.sentence-check:checked {
    background-color: var(--green);
}

.toggle-switch {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--level-orange);
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.toggle-switch.on {
    background-color: var(--level-green);
}

.toggle-thumb {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: 5px;
    left: 5px;
    transition: left 0.2s ease;
    text-align: center;
    font-size: 25px;
}

.toggle-switch.on .toggle-thumb {
    left: 45px;
}