:root {
    --blue: #006eb8;
    --blue-light: #007ccf;

    --green: #00b86e;
    --green-light: #00cf7c;

    --grey: #aaa; 
    --grey-dark: #888; 
    background-color: var(--grey);

    --body-font: 20px;
    --body-font-big: 26px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey); 
}

main {
    margin: 0 10%;
}