:root {
    --blue: #0276A6;
    --blue-light: #59a9de;

    --green: #0ac890;
    --green-light: #6aebb7;

    --grey: #eee; 
    --grey-dark: #888; 
    background-color: var(--grey);

    --body-font: 20px;
    --body-font-big: 26px;
    --heading-font: 34px;

    --border-radius: 10px;
    --font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    color: var(--grey); 
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--grey-dark);
}

h1.course-title {
    color: var(--grey-dark);
    margin: 2.5% 0;
    text-align: center;
}

main {
    margin: 0 10%;
    flex: 1;
}

.button-green {
    font-size: var(--header-login-fontsize);
    color: white;
    background-color: var(--green);
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}

a.green-highlight {
    color: var(--green);
    text-decoration: none;
}

a.green-highlight:visited { color: var(--green); }

a.green-highlight:hover { color: var(--green-light); text-decoration: underline; }
